absl-py==0.15.0
astor==0.8.1
backports.weakref==1.0.post1
enum34==1.1.10
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.4.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.10.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
opt-einsum==2.3.2
protobuf==3.17.3
pybedtools==0.8.1
pyBigWig==0.3.17
pysam==0.20.0
PyYAML==5.4.1
scipy==1.2.3
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
Werkzeug==1.0.1
wrapt==1.15.0
